In [8]:
import pandas as pd
import requests
from requests import get
from bs4 import BeautifulSoup
import random
import time


sfv_apts = pd.read_csv('data/SFV_apts_May22.csv')
sfv_apts.head()

,Unnamed: 0,posted,neighborhood,post title,number bedrooms,sqft,URL,price
0,0,2022-05-22 09:49,(Van Nuys),❖ Nice Studio in Van Nuys *Full Kitchen *2 Clo...,NaN,425.0,https://losangeles.craigslist.org/sfv/apa/d/va...,"1,575"
1,1,2022-05-22 09:49,(North Hollywood),Renovated Studio in NoHo +Full Kitchen +Plank ...,NaN,500.0,https://losangeles.craigslist.org/sfv/apa/d/to...,"1,795"
2,2,2022-05-22 09:49,(Northridge),2+2 in Northridge +SS Appliances +Quartz Count...,2.0,945.0,https://losangeles.craigslist.org/sfv/apa/d/no...,"2,750"
3,3,2022-05-22 09:48,(Glendale),Glendale Newly Renovated 2+1 with SS Appliance...,2.0,875.0,https://losangeles.craigslist.org/sfv/apa/d/gl...,"2,450"
4,4,2022-05-22 09:47,(Toluca Lake),LIVE IN BEAUTIFUL TOLUCA LAKE-SPACIOUS 1+1 & L...,1.0,847.0,https://losangeles.craigslist.org/sfv/apa/d/no...,"3,455"

In [9]:
#sfv_apts.drop(columns=['latlon', 'Unnamed: 0'], inplace=True)
sfv_apts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3120 entries, 0 to 3119
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       3120 non-null   int64
 1   posted           3120 non-null   object
 2   neighborhood     3120 non-null   object
 3   post title       3120 non-null   object
 4   number bedrooms  2522 non-null   float64
 5   sqft             2574 non-null   float64
 6   URL              3120 non-null   object
 7   price            3068 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 195.1+ KB

In [12]:
# this code is from Seth!
import requests

def get_latlong(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    try:
        link = soup.find_all('div', class_='viewposting')
        lat = link[0]['data-latitude']
        long = link[0]['data-longitude']
        time.sleep(random.uniform(.5,3))
    #this code could be used to randomize the time between calls to craigslist and slow down the scraper 
    #It definitely helps to keep from getting blocked/throttled
        return [lat, long]
    except:
        return [None, None]

In [13]:
test_lat, test_long = get_latlong(sfv_apts.URL.loc[5])
print('lat is {}, long is {}'.format(test_lat, test_long))

lat is 34.209222, long is -118.536018

In [14]:
sfv_apts['latlon'] = sfv_apts.URL.apply(get_latlong)

In [15]:
sfv_apts.sample(10)

,Unnamed: 0,posted,neighborhood,post title,number bedrooms,sqft,URL,price,latlon
2292,2292,2022-05-22 09:42,"(Encino, CA)",Newly Remodeled 3 bed 2 bath open concept!,3.0,2000.0,https://losangeles.craigslist.org/sfv/apa/d/en...,"4,500","[34.173005, -118.514217]"
3088,3088,2022-05-22 08:37,(Northridge - Open House Daily 10-5),SS Appliances^ Playground^ 1 Bedroom in Northr...,1.0,850.0,https://losangeles.craigslist.org/sfv/apa/d/no...,"1,850","[34.226682, -118.502582]"
856,856,2022-05-22 09:41,(GLENDALE),"*************GORGEOUS HOUSE, NEW BUILT, CENTRA...",3.0,1200.0,https://losangeles.craigslist.org/sfv/apa/d/gl...,"3,695","[34.137800, -118.242500]"
1878,1878,2022-05-22 08:44,(NORTH HOLLYWOOD),"************HOUSE FOR LEASE, WASHER DRYER, CEN...",4.0,NaN,https://losangeles.craigslist.org/sfv/apa/d/no...,"3,900","[34.205700, -118.400100]"
352,352,2022-05-22 06:26,"(4500 Woodman Ave, Sherman Oaks, CA)","Steam Room, Basketball Court, Resort Style Pool",NaN,419.0,https://losangeles.craigslist.org/sfv/apa/d/sh...,"2,150","[34.152600, -118.432200]"
871,871,2022-05-22 09:28,(Studio city),Condominium in Studio City,2.0,1000.0,https://losangeles.craigslist.org/sfv/apa/d/st...,"2,800","[34.150306, -118.398034]"
2073,2073,2022-05-22 09:28,(studio city),Studio City-no pets-1 bdrm 1 bth //no pets,1.0,1000.0,https://losangeles.craigslist.org/sfv/apa/d/st...,"1,835","[34.150300, -118.405208]"
1637,1637,2022-05-22 08:45,(NORTH HOLLYWOOD),"HOUSE FOR LEASE, WASHER DRYER, WD FLR, CENTRAL...",4.0,NaN,https://losangeles.craigslist.org/sfv/apa/d/no...,"3,900","[34.205700, -118.400100]"
587,587,2022-05-22 06:49,(SHERMAN OAKS),"LARGE, QUIET 2-BD./2 BA. APARTMENT",2.0,940.0,https://losangeles.craigslist.org/sfv/apa/d/va...,"2,575","[34.168554, -118.445217]"
2458,2458,2022-05-22 08:57,(Sherman Oaks),Lovely 2+2 in Sherman Oaks | Controlled Access...,2.0,750.0,https://losangeles.craigslist.org/sfv/apa/d/sh...,"2,395","[34.149510, -118.447538]"

In [16]:
sfv_apts['y'] = sfv_apts['latlon'].apply(lambda x: x[0])
sfv_apts['x'] = sfv_apts['latlon'].apply(lambda x: x[1])

In [17]:
sfv_apts.head()

,Unnamed: 0,posted,neighborhood,post title,number bedrooms,sqft,URL,price,latlon,y,x
0,0,2022-05-22 09:49,(Van Nuys),❖ Nice Studio in Van Nuys *Full Kitchen *2 Clo...,NaN,425.0,https://losangeles.craigslist.org/sfv/apa/d/va...,"1,575","[34.193804, -118.466316]",34.193804,-118.466316
1,1,2022-05-22 09:49,(North Hollywood),Renovated Studio in NoHo +Full Kitchen +Plank ...,NaN,500.0,https://losangeles.craigslist.org/sfv/apa/d/to...,"1,795","[34.172111, -118.380983]",34.172111,-118.380983
2,2,2022-05-22 09:49,(Northridge),2+2 in Northridge +SS Appliances +Quartz Count...,2.0,945.0,https://losangeles.craigslist.org/sfv/apa/d/no...,"2,750","[34.250203, -118.521639]",34.250203,-118.521639
3,3,2022-05-22 09:48,(Glendale),Glendale Newly Renovated 2+1 with SS Appliance...,2.0,875.0,https://losangeles.craigslist.org/sfv/apa/d/gl...,"2,450","[34.133366, -118.262479]",34.133366,-118.262479
4,4,2022-05-22 09:47,(Toluca Lake),LIVE IN BEAUTIFUL TOLUCA LAKE-SPACIOUS 1+1 & L...,1.0,847.0,https://losangeles.craigslist.org/sfv/apa/d/no...,"3,455","[34.151000, -118.366300]",34.151000,-118.366300

In [21]:
sfv_apts.to_csv('Data/la_apts_SFV_geometry_May22.csv')

In [ ]:

\