In [2]:
import pandas as pd
import requests
from requests import get
from bs4 import BeautifulSoup
import random
import time

In [4]:
df = pd.read_csv("/Users/alliepadgett/Documents/GitHub/Housing_Modeling/Data/LAC.csv")
df.drop(columns=['lat'], inplace=True)
df.head()

,Unnamed: 0,posted,neighborhood,post title,number bedrooms,sqft,URL,price
0,0,2022-05-22 09:45,"(2711 Ellendale Place, Los Angeles, CA)","On-Site Maintenance, Off Street Parking, Micro...",1.0,650.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,275"
1,1,2022-05-22 09:45,"(930 Figuroa Terrace, Los Angeles, CA)","Expansive Sundecks, Private Balconies/Patios, ...",1.0,579.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,172"
2,2,2022-05-22 09:42,(Koreatown),260 S. Mariposa,1.0,675.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"1,575"
3,3,2022-05-22 09:42,"(1026 S Broadway, Los Angeles, CA)","Designer Floor Plans, All Stainless Steel Appl...",1.0,730.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,717"
4,4,2022-05-22 09:41,"(Eagle Rock, Highland Park)","Ground Level Unit w/Balcony, $2 Parking, Gated...",NaN,450.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"1,465"

In [5]:
def get_latlong(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    try:
        link = soup.find_all('div', class_='viewposting')
        lat = link[0]['data-latitude']
        long = link[0]['data-longitude']
        time.sleep(random.uniform(.5,3))
    #this code could be used to randomize the time between calls to craigslist and slow down the scraper 
    #It definitely helps to keep from getting blocked/throttled
        return [lat, long]
    except:
        return [None, None]

In [6]:
test_lat, test_long = get_latlong(df.URL.loc[5])
print('lat is {}, long is {}'.format(test_lat, test_long))

lat is 34.039575, long is -118.263797

In [ ]:
df['latlon'] = df.URL.apply(get_latlong)
df

0    34.048200
1    34.048212
2    34.107400
3    34.061400
4    34.065915
Name: latlon, dtype: object

In [14]:
df.drop(columns=['y', 'x'], inplace=True)
df['y'] = df['latlon'].apply(lambda x: x[0])
df['x'] = df['latlon'].apply(lambda x: x[1])

In [15]:
df

,Unnamed: 0,posted,neighborhood,post title,number bedrooms,sqft,URL,price,latlon,y,x
0,0,2022-05-18 12:56,(Los Angeles),2 BR/1BR cottage house for rent,2.0,NaN,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,600","[34.048200, -118.334300]",34.048200,-118.334300
1,1,2022-05-18 12:56,"(400 S Main St Los Angeles, CA)",Be Ready To Be Wowed. Huge Urban Loft. Great C...,NaN,1420.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"3,230","[34.048212, -118.247207]",34.048212,-118.247207
2,2,2022-05-18 12:56,(Hollywood),Spacious 2 Bedroom/2 Bath ~ Coming June!,2.0,1131.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"3,327","[34.107400, -118.365200]",34.107400,-118.365200
3,3,2022-05-18 12:54,"(909 W. Temple St., Los Angeles, CA)",City view and plenty of amenities!!!,2.0,948.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,995","[34.061400, -118.238500]",34.061400,-118.238500
4,4,2022-05-18 12:49,(North Westlake),"Wood Inspired Floors, Gym, Newly Built 1 Bedro...",1.0,1075.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,300","[34.065915, -118.273467]",34.065915,-118.273467
...,...,...,...,...,...,...,...,...,...,...,...
3115,3115,2022-05-18 11:41,(central LA 213/323),"Private patios and balconies*, EV charging sta...",NaN,605.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,255","[34.060409, -118.280828]",34.060409,-118.280828
3116,3116,2022-05-18 11:38,(Los Angeles),Top Floor Two Bedroom! Move In Now! Ask About ...,2.0,884.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"3,435","[34.062110, -118.345352]",34.062110,-118.345352
3117,3117,2022-05-18 11:38,"(Los Angeles, DTLA, Korea Town, South Park, S...",WAIT!! SEE THIS BEAUTIFUL 2 BEDROOM & SAVE $13...,2.0,975.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,709","[None, None]",None,None
3118,3118,2022-05-18 11:38,(WESTERN & ADAMS),=== SECTION 8 ONLY! ==== BEAUTIFUL 4 BED / 3 B...,4.0,NaN,https://losangeles.craigslist.org/lac/apa/d/lo...,"3,600","[34.029000, -118.315200]",34.029000,-118.315200
3119,3119,2022-05-18 11:38,(central LA 213/323),"Covered Parking Garage, Stainless Steel Applia...",1.0,759.0,https://losangeles.craigslist.org/lac/apa/d/gl...,"2,578","[34.164900, -118.245100]",34.164900,-118.245100

Some Next Thoughts:
We are going to need to make a bunch of calls to craigslist, one idea is that we could use the ScraperAPI there is a free trial for 5000 web requests, or it's 30 bucks for a month with 250,000 which seems like an ok deal to just not have to worry about being blocked

[ScraperAPI](https://www.scraperapi.com/)

In [21]:
df['y'].isna().sum()

296

In [22]:
len(df)

3120

In [23]:
print('Length Before was: ', len(df))
cleanedDf = df.dropna(subset=['x','y'])
print('Length Cleaned is: ', len(cleanedDf))

Length Before was:  3120
Length Cleaned is:  2824

In [24]:
cleanedDf.to_csv('Data/lac_5-18_geometry.csv')

In [ ]:
#save for later, for cleaning parenthases from neighborhood
#df2['neighborhood'] = df2['neighborhood'].apply(lambda x: x.replace('(',"").replace(')',''))