In [1]:
import pandas as pd
import requests
from requests import get
from bs4 import BeautifulSoup
import random
import time

In [2]:
df = pd.read_csv("/Users/alliepadgett/Documents/GitHub/Housing_Modeling/Data/lac_listings_5-23.csv")
#df.drop(columns=['lat'], inplace=True)
df.head()

,Unnamed: 0,posted,neighborhood,post title,number bedrooms,sqft,URL,price
0,0,2022-05-23 08:42,"(930 Figuroa Terrace, Los Angeles, CA)","Double Master Suites, Designer Granite Counter...",2.0,842.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,625"
1,1,2022-05-23 08:42,(Hollywood),Love Your Part In This Hollywood Studio! Carlt...,NaN,NaN,https://losangeles.craigslist.org/lac/apa/d/lo...,"1,650"
2,2,2022-05-23 08:40,"(1026 S Broadway, Los Angeles, CA)","Satellite Ready, Stainless Steel Sink with Pul...",1.0,692.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,493"
3,3,2022-05-23 08:38,(Los Angeles),One Bedroom Apartment across MacArthur Park Lo...,1.0,850.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"1,995"
4,4,2022-05-23 08:36,(East hollywood),"Remodeled One Bedroom, One Bath, Charming East...",1.0,NaN,https://losangeles.craigslist.org/lac/apa/d/lo...,"1,925"

In [3]:
def get_latlong(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    try:
        link = soup.find_all('div', class_='viewposting')
        lat = link[0]['data-latitude']
        long = link[0]['data-longitude']
        time.sleep(random.uniform(.5,3))
    #this code could be used to randomize the time between calls to craigslist and slow down the scraper 
    #It definitely helps to keep from getting blocked/throttled
        return [lat, long]
    except:
        return [None, None]

In [4]:
test_lat, test_long = get_latlong(df.URL.loc[5])
print('lat is {}, long is {}'.format(test_lat, test_long))

lat is 34.074934, long is -118.266463

In [5]:
df['latlon'] = df.URL.apply(get_latlong)
df

,Unnamed: 0,posted,neighborhood,post title,number bedrooms,sqft,URL,price,latlon
0,0,2022-05-23 08:42,"(930 Figuroa Terrace, Los Angeles, CA)","Double Master Suites, Designer Granite Counter...",2.0,842.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,625","[34.061400, -118.238500]"
1,1,2022-05-23 08:42,(Hollywood),Love Your Part In This Hollywood Studio! Carlt...,NaN,NaN,https://losangeles.craigslist.org/lac/apa/d/lo...,"1,650","[34.100355, -118.317490]"
2,2,2022-05-23 08:40,"(1026 S Broadway, Los Angeles, CA)","Satellite Ready, Stainless Steel Sink with Pul...",1.0,692.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,493","[34.043400, -118.271600]"
3,3,2022-05-23 08:38,(Los Angeles),One Bedroom Apartment across MacArthur Park Lo...,1.0,850.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"1,995","[34.062917, -118.277277]"
4,4,2022-05-23 08:36,(East hollywood),"Remodeled One Bedroom, One Bath, Charming East...",1.0,NaN,https://losangeles.craigslist.org/lac/apa/d/lo...,"1,925","[34.077810, -118.295133]"
...,...,...,...,...,...,...,...,...,...
2995,2995,2022-05-19 10:15,(Koreatown/Downtown LA),Vinyl Plank Flooring | SS Appliances | Brand N...,NaN,435.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,045","[34.055686, -118.304146]"
2996,2996,2022-05-19 10:15,"(327 N Boylston St. Los Angeles, CA)",Interest Heating Up! Touring this Loft Today!,NaN,710.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,594","[34.063284, -118.253707]"
2997,2997,2022-05-19 10:14,(Hollywood),1 Bedroom Townhouse in Hollywood | 1 Month Fre...,1.0,775.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,750","[34.093650, -118.326910]"
2998,2998,2022-05-19 10:13,(Los Angeles),Echo Park 2x1 Apartment For Rent,2.0,NaN,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,200","[34.076992, -118.266659]"
2999,2999,2022-05-19 10:13,"(327 N Boylston St. Los Angeles, CA)",2 Bedroom With a Gorgeous View!,2.0,1068.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"3,741","[34.063284, -118.253707]"

In [6]:
#df.drop(columns=['y', 'x'], inplace=True)
df['y'] = df['latlon'].apply(lambda x: x[0])
df['x'] = df['latlon'].apply(lambda x: x[1])

In [7]:
df

,Unnamed: 0,posted,neighborhood,post title,number bedrooms,sqft,URL,price,latlon,y,x
0,0,2022-05-23 08:42,"(930 Figuroa Terrace, Los Angeles, CA)","Double Master Suites, Designer Granite Counter...",2.0,842.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,625","[34.061400, -118.238500]",34.061400,-118.238500
1,1,2022-05-23 08:42,(Hollywood),Love Your Part In This Hollywood Studio! Carlt...,NaN,NaN,https://losangeles.craigslist.org/lac/apa/d/lo...,"1,650","[34.100355, -118.317490]",34.100355,-118.317490
2,2,2022-05-23 08:40,"(1026 S Broadway, Los Angeles, CA)","Satellite Ready, Stainless Steel Sink with Pul...",1.0,692.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,493","[34.043400, -118.271600]",34.043400,-118.271600
3,3,2022-05-23 08:38,(Los Angeles),One Bedroom Apartment across MacArthur Park Lo...,1.0,850.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"1,995","[34.062917, -118.277277]",34.062917,-118.277277
4,4,2022-05-23 08:36,(East hollywood),"Remodeled One Bedroom, One Bath, Charming East...",1.0,NaN,https://losangeles.craigslist.org/lac/apa/d/lo...,"1,925","[34.077810, -118.295133]",34.077810,-118.295133
...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,2022-05-19 10:15,(Koreatown/Downtown LA),Vinyl Plank Flooring | SS Appliances | Brand N...,NaN,435.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,045","[34.055686, -118.304146]",34.055686,-118.304146
2996,2996,2022-05-19 10:15,"(327 N Boylston St. Los Angeles, CA)",Interest Heating Up! Touring this Loft Today!,NaN,710.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,594","[34.063284, -118.253707]",34.063284,-118.253707
2997,2997,2022-05-19 10:14,(Hollywood),1 Bedroom Townhouse in Hollywood | 1 Month Fre...,1.0,775.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,750","[34.093650, -118.326910]",34.093650,-118.326910
2998,2998,2022-05-19 10:13,(Los Angeles),Echo Park 2x1 Apartment For Rent,2.0,NaN,https://losangeles.craigslist.org/lac/apa/d/lo...,"2,200","[34.076992, -118.266659]",34.076992,-118.266659
2999,2999,2022-05-19 10:13,"(327 N Boylston St. Los Angeles, CA)",2 Bedroom With a Gorgeous View!,2.0,1068.0,https://losangeles.craigslist.org/lac/apa/d/lo...,"3,741","[34.063284, -118.253707]",34.063284,-118.253707

Some Next Thoughts:
We are going to need to make a bunch of calls to craigslist, one idea is that we could use the ScraperAPI there is a free trial for 5000 web requests, or it's 30 bucks for a month with 250,000 which seems like an ok deal to just not have to worry about being blocked

[ScraperAPI](https://www.scraperapi.com/)

In [8]:
df['y'].isna().sum()

26

In [9]:
len(df)

3000

In [10]:
print('Length Before was: ', len(df))
cleanedDf = df.dropna(subset=['x','y'])
print('Length Cleaned is: ', len(cleanedDf))

Length Before was:  3000
Length Cleaned is:  2974

In [11]:
cleanedDf.to_csv('Data/lac_5-23_latlong.csv')

In [12]:
#save for later, for cleaning parenthases from neighborhood
#df2['neighborhood'] = df2['neighborhood'].apply(lambda x: x.replace('(',"").replace(')',''))