In [5]:
import pandas as pd
from bs4 import BeautifulSoup
from time import sleep
import re
from random import randint #avoid throttling by not sending too many requests one after the other
from warnings import warn
from time import time
from IPython.core.display import clear_output
import numpy as np
import random


sfv_apts = pd.read_csv('data/SFV_apts_May22.csv')
sfv_apts.head()

/var/folders/9f/k9n1w01s56j09p5_l0jxvqdr0000gn/T/ipykernel_11131/3253808599.py:8: DeprecationWarning: Importing clear_output from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import clear_output

,Unnamed: 0,posted,neighborhood,post title,number bedrooms,sqft,URL,price
0,0,2022-05-22 09:49,(Van Nuys),❖ Nice Studio in Van Nuys *Full Kitchen *2 Clo...,NaN,425.0,https://losangeles.craigslist.org/sfv/apa/d/va...,"1,575"
1,1,2022-05-22 09:49,(North Hollywood),Renovated Studio in NoHo +Full Kitchen +Plank ...,NaN,500.0,https://losangeles.craigslist.org/sfv/apa/d/to...,"1,795"
2,2,2022-05-22 09:49,(Northridge),2+2 in Northridge +SS Appliances +Quartz Count...,2.0,945.0,https://losangeles.craigslist.org/sfv/apa/d/no...,"2,750"
3,3,2022-05-22 09:48,(Glendale),Glendale Newly Renovated 2+1 with SS Appliance...,2.0,875.0,https://losangeles.craigslist.org/sfv/apa/d/gl...,"2,450"
4,4,2022-05-22 09:47,(Toluca Lake),LIVE IN BEAUTIFUL TOLUCA LAKE-SPACIOUS 1+1 & L...,1.0,847.0,https://losangeles.craigslist.org/sfv/apa/d/no...,"3,455"

In [6]:
#sfv_apts.drop(columns=['latlon', 'Unnamed: 0'], inplace=True)
sfv_apts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3120 entries, 0 to 3119
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       3120 non-null   int64
 1   posted           3120 non-null   object
 2   neighborhood     3120 non-null   object
 3   post title       3120 non-null   object
 4   number bedrooms  2522 non-null   float64
 5   sqft             2574 non-null   float64
 6   URL              3120 non-null   object
 7   price            3068 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 195.1+ KB

In [7]:
# this code is from Seth!
import requests

def get_latlong(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    try:
        link = soup.find_all('div', class_='viewposting')
        lat = link[0]['data-latitude']
        long = link[0]['data-longitude']
        time.sleep(random.uniform(.5,3))
    #this code could be used to randomize the time between calls to craigslist and slow down the scraper 
    #It definitely helps to keep from getting blocked/throttled
        return [lat, long]
    except:
        return [None, None]

In [ ]:
sfv_apts['latlon'] = sfv_apts.URL.apply(get_latlong)

In [ ]:
sfv_apts.sample(10)